<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-home.css') }}">
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='imgs/treinopro_logo.png') }}" alt="Logo TreinoPro">
        </div>
        <nav>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('comprar') }}">Adquirir plano</a>
        </nav>
    </header>

    <div class="image-container">
        <img src="{{ url_for('static', filename='imgs/conteudo-home/1.png') }}" alt="Seja seu melhor">
        <img src="{{ url_for('static', filename='imgs/conteudo-home/2.png') }}" alt="Sobre nossa empresa">
        <img src="{{ url_for('static', filename='imgs/conteudo-home/3.png') }}" alt="O que oferecemos para o personal trainer">
        <img src="{{ url_for('static', filename='imgs/conteudo-home/4.png') }}" alt="O que oferecemos para os alunos">
        <img src="{{ url_for('static', filename='imgs/conteudo-home/5.png') }}" alt="Assine já o nosso plano mensal ou anual">
    </div>

</body>

</html>